/* http://meyerweb.com/eric/tools/css/reset/ 
   v2.0 | 20110126
   License: none (public domain)
*/


@import url('https://fonts.googleapis.com/css2?family=Molle&family=Montserrat&display=swap');


header{
    background: linear-gradient(var(--teal), #fff);
}

h1, h2, h3 {
    font-family: "Molle", cursive;
}

body{
    font-family: "Montserrat";
}


:root {
    --yellow: #F6D64A;
    --teal: #55BCD5;
    --purple: #9B26B0;
    --blue: #499BD2;
    --dark-gray: #222222;
    --light-gray: #EAEAEA;
}





#plan{
    background-color: #F6D64A;
}






#about{
background-color: #499BD2;
}




